
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">Learn, Shared, Build!</h1>
            <h3>Each month, over 50 million developers come to Stack OverFlow to learn, share their knowledge and build their careers.</h3>
            <p class="lead">Join the world's largest community</p>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2008</div>
            <div class="card-body">
                We’re best known for our public Q&A platform that millions of people visit every month to ask questions, learn, and share technical knowledge.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                Stack Overflow and Indeed announced the next evolution of their longstanding partnership to deliver on the career development needs of the
                world’s most active developers, help companies improve their employer branding and hire hard-to-fill tech roles.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Stack Overflow Offices</div>
            <img class="card-img-top" src="~/Images/office_locations.jpeg" alt="Offices"/>
            <div class="card-body">
                Stack Overflow's main headquarters is located at 14 Wall Street, 20th Floor, New York, NY 10005, USA.
                While the company maintains this primary office, it has embraced a remote-first culture, with employees distributed across six 
                continents, including North America, Europe, and Asia.
                This approach allows team members to work from various locations worldwide, fostering a diverse and inclusive work environment.
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("a[href='/home/about']").attr("id", "active");
    });
</script>