
@{
    ViewBag.Title = "Cantact";
}

<div class="row mt-2">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Teams</div>
            <div class="card-body">
                <p>A private secure home for you team questions and answers. Perfect for teams of 10-500 memebers. No more digging through stale wikis and lost emails-
                give you team back the time it needs to build better products.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Enterprise</div>
            <div class="card-body">
                <p>
                    Stack Overflow for enterprise is a private, secure home for your organisation questions and answers. Empower your teams to find and share information
                    without disturbing their workflows.
                </p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>


<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>